<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.missouri.eldercare.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.missouri.eldercare.application.Perspective"
            fixed="false"
            icon="icons/MU_Stacked_Logo16x16.gif"
            id="edu.missouri.eldercare.application.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.missouri.eldercare.application.application"
            name="Elder Care Technology">
         <property
               name="windowImages"
               value="icons/MU_Stacked_Logo16x16.gif,icons/MU_Stacked_Logo32x32.gif,icons/MU_Stacked_Logo48x48.gif,icons/MU_Stacked_Logo64x64.gif,icons/MU_Stacked_Logo128x128.gif">
         </property>
         <property
               name="appName"
               value="Elder Care Technology">
         </property>
         <property
               name="aboutImage"
               value="icons/MU_Stacked_Logo64x64.gif">
         </property>
         <property
               name="aboutText"
               value="Elder Care Technologies&#x0A;All Rights Reserved, MU">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.missouri.eldercare.application"
            name="Sample Category">
      </category>
      <view
            allowMultiple="false"
            category="edu.missouri.eldercare.application"
            class="edu.missouri.eldercare.application.views.ElderCareView"
            icon="icons/MU_Stacked_Logo16x16.gif"
            id="edu.missouri.eldercare.application.views.ElderCareView"
            name="Smart Carpet Display"
            restorable="true">
      </view>
      <view
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.internal.ui.view.SystemViewPart"
            id="org.eclipse.rse.ui.view.systemView"
            name="Carpet Data"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.missouri.eldercare.application.views.ElderCareView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="edu.missouri.eldercare.application.splashHandlers.InteractiveSplashHandler"
            id="edu.missouri.eldercare.application.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="edu.missouri.eldercare.application.product"
            splashId="edu.missouri.eldercare.application.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.rse.ui.newConnectionWizards">
      <category
            id="org.eclipse.rse.ui.wizards.newconnection.default.category"
            name="General">
      </category>
      <newConnectionWizard
            canFinishEarly="false"
            categoryId="org.eclipse.rse.ui.wizards.newconnection.default.category"
            class="org.eclipse.rse.ui.wizards.newconnection.RSEDefaultNewConnectionWizard"
            hasPages="true"
            id="org.eclipse.rse.ui.wizards.newconnection.RSEDefaultNewConnectionWizard"
            name="RSE Default New Connection Wizard"
            systemTypeIds="org.eclipse.rse.systemtype.linux;org.eclipse.rse.systemtype.windows">
      </newConnectionWizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.rse.ui.newWizards.rseCategory"
            name="Remote System Explorer">
      </category>
      <wizard
            category="org.eclipse.rse.ui.newWizards.rseCategory"
            class="org.eclipse.rse.ui.wizards.newconnection.RSEMainNewConnectionWizard"
            finalPerspective="edu.missouri.eldercare.application.perspective"
            id="org.eclipse.rse.ui.newWizards.connection"
            name="Connection">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.rse.internal.ui.subsystems.SubSystemPropertyTester"
            id="org.eclipse.rse.ui.SubSystemPropertyTester"
            namespace="org.eclipse.rse.core"
            properties="hasSubSystemCategory, isOffline"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
       <propertyTester
             class="org.eclipse.rse.internal.ui.view.SystemViewPropertyTester"
             id="org.eclipse.rse.internal.ui.view.SystemViewPropertyTester"
             namespace="org.eclipse.rse.ui"           
             properties="name,type,hasChildren,connected,offline,systemType,systemTypeId,subsystemConfigurationId,subsystemConfigurationCategory,isRemote"
             type="org.eclipse.rse.ui.view.ISystemViewElementAdapter">
        </propertyTester>
   </extension>
      <extension
         point="org.eclipse.rse.core.systemTypes">
      <systemType
            id="org.eclipse.rse.systemtype.windows"
            label="Windows"
            name="Windows"/>
      <systemType
            id="org.eclipse.rse.systemtype.linux"
            label="Linux"
            name="Linux"/>
      <!--
      <systemType id="org.eclipse.rse.systemtype.linux.power"
            name="Power Linux"
			description="%systemType.powerlinux.description"
			icon="icons/full/obj16/systemlinux_obj.gif"
			iconLive="icons/full/obj16/systemlinuxlive_obj.gif"/>
      -->      
      <systemType
            id="org.eclipse.rse.systemtype.unix"
            label="Unix"
            name="Unix"/>
      <systemType
            id="org.eclipse.rse.systemtype.local"
            label="Local"
            name="Local"/>
   </extension>
      <extension
            point="org.eclipse.ui.popupMenus">
         <!--<viewerContribution
               id="edu.missouri.eldercare.application.contribution.popup.navigator"
               targetID="org.eclipse.rse.ui.view.systemView">
            <action
                  class="edu.missouri.eldercare.application.actions.DisplayHistoryAction"
                  enablesFor="1"
                  id="edu.missouri.eldercare.application.displayHistoryAction"
                  label="Display"
                  menubarPath="additions"
                  state="true"
                  style="push">
            </action>
         </viewerContribution>-->
         <objectContribution
               adaptable="true"
               id="edu.missouri.eldercare.application.contribution.popup.object"
               nameFilter="*.csv"
               objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
            <!--<filter
                  name="csvNature"
                  value="edu.missouri.eldercare.application.csvNature">
            </filter>-->
            <action
                  class="edu.missouri.eldercare.application.actions.DisplayHistoryAction"
                  enablesFor="1"
                  id="edu.missouri.eldercare.application.displayHistoryAction"
                  label="Display"
                  menubarPath="additions"
                  state="false"
                  style="push">
            </action>
            <action
                  class="edu.missouri.eldercare.application.actions.ShowHistogramAction"
                  enablesFor="1"
                  id="edu.missouri.eldercare.application.showHistogramAction"
                  label="Show Histogram"
                  menubarPath="additions"
                  state="false"
                  style="push">
            </action>
         </objectContribution>
      </extension>
  
    
<!--   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.missouri.eldercare.application.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               class="edu.missouri.eldercare.application.actions.SampleAction"
               definitionId="M2+R"
               icon="icons/sample.gif"
               id="edu.missouri.eldercare.application.actions.SampleAction"
               label="&amp;Run"
               menubarPath="file/fileStart"
               toolbarPath="\">
         </action>
      </actionSet>
   </extension>
-->
</plugin>
